header {
  background-image: url(../img/bg/fork320.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header {
  background: $bgColorHeader;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  position: relative;

  &__logo {
  }

  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 150ms linear;

    &__icon {
      display: block;
      width: 43px;
      height: 41px;
      background-image: url(../img/logo/Logo.png);
    }

    &__text {
      display: none;
      margin-left: 17px;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      text-transform: uppercase;
      color: $purple;
    }

    &:hover .logo__text {
      color: #fff;
    }

    &:hover .logo__icon {
      background-image: url(../img/logo/logo-hover.png);
    }
  }

  &__button {
    transition: all 150ms linear;

    &:hover {
      color: $purple;
      background: #ffffff;
    }
  }

  &__menu {
    position: absolute;
    //display: block;
    top: 101px;
    left: 0;
    display: none;
  }

  .nav-menu {
    width: 100%;
    padding: 0 15px;
    z-index: 1;

    &__items {
      padding: 19px 0;
      background: #333333;
      border-bottom: 3px solid #3b3b3b;
    }

    &__link {
      text-decoration: none;
      font-weight: 400;
      font-size: 26px;
      padding: 4px 0 4px 29px;
      line-height: 53px;
      color: #ffffff;
      border-left: 8px solid #333333;
      transition: color 150ms linear, border-left 150ms linear;

      &:hover {
        color: $purple;
        border-left: 8px solid $purple;
      }
    }
  }
}

.header__burger {
  width: 26px;
  height: 25px;
  cursor: pointer;
  position: relative;

  span {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 50%;
    margin-right: -13px;
    width: 26px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;

    &::before,
    &::after {
      content: "";
      @extend span;
      transition: 0.2s;
    }

    &::before {
      width: 15px;
      transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);
    }
  }
}

.active {
  span {
    margin-top: 0;
    height: 0;

    &::before {
      width: 26px;
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.show {
  display: block;
}


@media (min-width: 481px) {
  header {
    background-image: url(../img/bg/fork768.jpg);
  }
  .header__burger {
    display: none;
  }
  .header {
    padding: 22px 20px 0;
    display: grid;
    grid-template-areas: "logo button"
    "menu menu";

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    &__logo {
      grid-area: logo;
    }

    .logo {
      &__text {
        display: block;
      }
    }

    &__button {
      grid-area: button;
      width: max-content;
      justify-self: end;
    }

    //
    &__menu {
      position: static;
      top: inherit;
      left: inherit;
      display: block;
      grid-area: menu;
    }

    .nav-menu {
      padding-bottom: 23px;

      &__list {
        margin: 0 auto;
        display: flex;
        max-width: 520px;
        justify-content: space-between;
      }

      &__items {
        display: block;
        background: none;
        border-bottom: none;
      }

      &__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        padding: 0;
        line-height: 18px;
        color: $purple;
        border-left: none;
        transition: color 150ms linear, border-left 150ms linear;

        &:hover {
          color: #ffffff;
          border-left: none;
        }
      }
    }
  }
}


@media (min-width: 993px) {
  header {
    background-image: url(../img/bg/fork1200.jpg);
  }

  .header {
    background: none;
    grid-template-areas: "logo menu button";
    //"menu menu";
    grid-template-rows: 1fr 1fr 1fr;
    //grid-template-columns: 1fr 1fr;
    &__menu {
      padding: 0 38px 0 0;
    }

    .nav-menu {
      padding: 0;

      &__items {
        padding: 0;

      }

      &__list {
        max-width: none;
      }
    }
  }
}
